<h1>プロフィール</h1>

<p>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar %>
  <% end %>
</p>

<h2>名前</h2>
<%= @user.name %>

<h3>年齢</h3>
<%= @user.age %>

<h4>メールアドレス</h4>

<%= @user.email %> 