
<h1>プロフィール</h1>

<p>
 <% if current_user.avatar.attached? %>
   <%= image_tag current_user.avatar %>
 <% end %>
</p>

<h3>メールアドレス：
  <%= current_user.email %>
</h3>

<h3>名前：
  <%= current_user.name %>
</h3>

<h3>年齢：
  <%= current_user.age %>
</h3>

